<footer class="py-4 mt-5">
    <div class="container text-center">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <img src="static/images/patrocinadores/MTE BPIN.png" alt="Logo 1" class="footer-logo" style="height: 6rem;">
            </div>
            <div class="col-auto">
                <img src="static/images/patrocinadores/UDENAR.png" alt="Logo 2" class="footer-logo" style="height: 10rem;">
            </div>
            <div class="col-auto">
                <img src="static/images/patrocinadores/Rampa-transparencia.png" alt="Logo 3" class="footer-logo" style="height: 4rem;">
            </div>
            <div class="col-auto">
                <img src="static/images/patrocinadores/CESMAG.png" alt="Logo 4" class="footer-logo" style="height: 6rem;">
            </div>
        </div>
    </div>
</footer>

<style>
.footer-logo:hover {
    transform: scale(1.1);
    filter: brightness(1) drop-shadow(0 0 10px rgba(0, 217, 255, 0.8));
}
</style>

