{% block head %} {% include 'layouts/head.html' %} {% endblock %}
<script>
    var lastData = null;
    var table;

    $(function() {
        // Inicializa DataTable y guarda la referencia
        table = $('#tabla').DataTable({
            "language": {
                "emptyTable": "No hay datos disponibles en la tabla",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "order": [
                [0, "desc"]
            ]
        });
    });

    function updateTable() {
        $.ajax({
            url: '/get_latest_irradiance_data',
            type: 'GET',
            success: function(data) {
                if (data && !areObjectsEqual(data, lastData)) {
                    if (lastData === null) {
                        lastData = data; // Actualiza lastData
                    } else {
                        // Actualiza la DataTable con los nuevos datos
                        data.forEach(function(item) {
                            var newRow = [item.created_at, item.prom_irr, item.max_irr];
                            table.row.add(newRow).draw(false);
                        });
                        lastData = data; // Actualiza lastData
                    }
                }
            }
        });
    }

    function areObjectsEqual(obj1, obj2) {
        // Compara los objetos para verificar si son iguales
        return JSON.stringify(obj1) === JSON.stringify(obj2);
    }

    // Llama a la función updateTable periódicamente
    setInterval(updateTable, 10000); // Configura el intervalo para que coincida con la frecuencia de actualización de tus datos
</script>

<body class="body-inicio">
    {% block navbar %} {% include 'layouts/navbar.html' %} {% endblock %}
    <section class="align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">
            <div class="row" style="margin-bottom: 2rem;">
                <div class="card" style="border-block-color: rgba(50, 81, 220, 0.6);writing-mode: horizontal-tb;overflow: auto;">
                    <div class="card-body">
                        <h2>Datos de Irradiancia - Davis</h2>
                        {% if db_irr is not none %}
                        <table id="tabla" class="table table-responsive ">
                            <thead>
                                <tr>
                                    <th style="width: 12rem;">Fecha y Hora</th>
                                    <th>Irradiancia Promedio (W/m²)</th>
                                    <th>Irradiancia Máxima (W/m²)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for db_irr in db_irr %}
                                <tr>
                                    <td class="time">{{db_irr[2]}}</td>
                                    <td class="avg_irradiance">{{db_irr[0]}}</td>
                                    <td class="highest_irradiance">{{db_irr[1]}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        {% else %}
                        <p class="text-danger ">Error: No se encontraron datos de irradiancia.</p>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 2rem;">
                <div class="d-flex align-items-center" style="margin-bottom: 1rem;">
                    <input type="date" class="form-control" style="width:16rem; margin-right: 1rem;" id="dateSelector" />
                    <button id="filterButton" class="btn btn-primary">Filtrar</button>
                </div>
                <canvas id="myChart" width="350" height="100"></canvas>
                <script>
                    // Inicialización de los arrays de datos
                    const irradianceData = [];
                    const highestIrradianceData = [];
                    const labels = [];
            
                    // Selección de las filas de la tabla
                    const tableRows = document.querySelectorAll('#tabla tbody tr');
            
                    // Función para filtrar datos por fecha y hora
                    function filterDataByDateAndTime(dateString) {
                        const filteredLabels = [];
                        const filteredIrradianceData = [];
                        const filteredHighestIrradianceData = [];
            
                        tableRows.forEach(row => {
                            const labelCell = row.querySelector('.time');
                            const label = labelCell ? labelCell.textContent : '';
                            const date = new Date(label);
                            const formattedDate = date.toISOString().split('T')[0]; // Convertir a formato YYYY-MM-DD
            
                            if (formattedDate === dateString) {
                                const hours = date.getHours();
                                // Filtrar datos entre las 6 AM y las 7 PM (19:00)
                                if (hours > 5 && hours <= 18) {
                                    const avgIrradianceCell = row.querySelector('.avg_irradiance');
                                    const highestIrradianceCell = row.querySelector('.highest_irradiance');
                                    const irradianceValue = avgIrradianceCell ? parseFloat(avgIrradianceCell.textContent) : null;
                                    const highestIrradianceValue = highestIrradianceCell ? parseFloat(highestIrradianceCell.textContent) : null;
            
                                    if (irradianceValue !== null) {
                                        filteredIrradianceData.push(irradianceValue);
                                        filteredLabels.push(date.toTimeString().substring(0, 5)); // Solo hora y minutos
                                    }
            
                                    if (highestIrradianceValue !== null) {
                                        filteredHighestIrradianceData.push(highestIrradianceValue);
                                    }
                                }
                            }
                        });
            
                        // Ordenar datos por hora
                        const sortedData = filteredLabels.map((label, index) => ({
                            label: label,
                            avgIrradiance: filteredIrradianceData[index],
                            highestIrradiance: filteredHighestIrradianceData[index] || null
                        })).sort((a, b) => a.label.localeCompare(b.label));
            
                        return {
                            labels: sortedData.map(data => data.label), // Usar hora como etiqueta
                            irradianceData: sortedData.map(data => data.avgIrradiance),
                            highestIrradianceData: sortedData.map(data => data.highestIrradiance)
                        };
                    }
            
                    // Función para crear o actualizar el gráfico
                    function createOrUpdateChart(dateString) {
                        const { labels: filteredLabels, irradianceData: filteredIrradianceData, highestIrradianceData: filteredHighestIrradianceData } = filterDataByDateAndTime(dateString);
            
                        const ctx = document.getElementById('myChart').getContext('2d');
            
                        const chartTitle = `Irradiancia - ${dateString}`;
            
                        if (window.chart) {
                            // Actualizar gráfico existente
                            window.chart.data.labels = filteredLabels;
                            window.chart.data.datasets[0].data = filteredIrradianceData;
                            window.chart.data.datasets[1].data = filteredHighestIrradianceData;
                            window.chart.options.plugins.title.text = chartTitle; // Actualizar título
                            window.chart.update();
                        } else {
                            // Crear nuevo gráfico
                            window.chart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: filteredLabels,
                                    datasets: [{
                                        type: 'line',
                                        label: 'Irradiancia Promedio (W/m²)',
                                        data: filteredIrradianceData,
                                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                        borderColor: 'rgba(255, 99, 132, 1)',
                                        pointRadius: 0,
                                        pointHoverRadius: 5,
                                        pointHitRadius: 5,
                                        borderWidth: 2,
                                        tension: 0.2,
                                    }, {
                                        type: 'line',
                                        label: 'Irradiancia Máxima (W/m²)',
                                        data: filteredHighestIrradianceData,
                                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                        borderColor: 'rgba(54, 162, 235, 1)',
                                        pointRadius: 0,
                                        pointHoverRadius: 5,
                                        pointHitRadius: 5,
                                        borderWidth: 2,
                                        tension: 0.2,
                                    }]
                                },
                                options: {
                                    animation: {
                                        x: {
                                            type: 'number',
                                            easing: 'linear',
                                            duration: 2000,
                                            from: NaN,
                                            delay(ctx) {
                                                const delayBetweenPoints = 1000 / Math.max(filteredIrradianceData.length, filteredHighestIrradianceData.length);
                                                if (ctx.datasetIndex === 0) {
                                                    return ctx.index * delayBetweenPoints;
                                                } else {
                                                    return 0;
                                                }
                                            }
                                        }
                                    },
                                    scales: {
                                        x: {
                                            type: 'category',
                                            title: {
                                                display: true,
                                                text: 'Hora del Día'
                                            }
                                        },
                                        y: {
                                            beginAtZero: true,
                                            title: {
                                                display: true,
                                                text: 'Irradiancia (W/m²)'
                                            }
                                        }
                                    },
                                    plugins: {
                                        title: {
                                            display: true,
                                            text: chartTitle, // Establecer título 
                                            font: {
                                                size: 24, // Tamaño de la fuente del título en píxeles
                                                weight: 'bold', // Opcional: hacer el título en negrita
                                                family: "'Helvetica Neue', 'Arial', sans-serif" // Opcional: especificar la familia de fuentes
                                            }                                           
                                        }
                                    }
                                }
                            });
                        }
                    }
            
                    // Obtener la fecha de hoy y crear o actualizar el gráfico
                    const today = new Date().toISOString().split('T')[0]; // Formato YYYY-MM-DD
                    createOrUpdateChart(today);
            
                    // Event listener para el botón de filtrado
                    document.getElementById('filterButton').addEventListener('click', () => {
                        const selectedDate = document.getElementById('dateSelector').value;
                        if (selectedDate) {
                            createOrUpdateChart(selectedDate);
                        }
                    });
                </script>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js "></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/datatables.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
</body>